<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura receitas</title>
</head>
<body>
    <h1>Alura Receitas</h1>
    <table>
        <thead>
            <tr>
                <td>Nome da Receita</td>
                <td>Ingredientes</td>
                <td>Modos de Preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suco verde</td>
                <td>Folhas verdes, 1 maçã , 1 cenoura</td>
                <td>Bata tudo no liquificador</td>
            </tr>
        </tbody>
    </table>
</body>
</html>